.uk-alert-danger {
    background-color: crimson !important;
    color: aliceblue !important;
    text-align: left !important;
  }
  
  .uk-alert-success {
    background-color: darkgreen;
    color: aliceblue !important;
    text-align: left !important;
  }
  