body {
  padding: 20px;
}

.container {
  display: flex;
  height: 85px;
  padding: 1%;
}

.img-container {
  width: 15%;
  padding: 20px;
}

.img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 0;
  justify-content: space-around;
}

.stripe {
  height: 20%;
}

.small-stripe {
  width: 40%;
}

.medium-stripe {
  width: 70%;
}

.long-stripe {
  width: 100%;
}

.container.loading .img,
.container.loading .stripe {
  animation: hintloading 2s ease-in-out 0s infinite reverse;
  -webkit-animation: hintloading 2s ease-in-out 0s infinite reverse;
}

.chat-photo {
  height: 45px;
  margin-left: 4px;
  margin-right: 10px;
}

.otherMessage {
  color: white;
  padding: 5px;
  border-radius: 10px;
  cursor: text;
}

.small {
  height: 25px !important;
}

.large {
  height: 80px !important;
}

.error-icon {
  border: none;
  padding: 0px 5px 2px 5px;
  font-size: 13px;
  border-radius: 50%;
  background: crimson;
  color: white;
  cursor: pointer;
}

@keyframes hintloading {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@-webkit-keyframes hintloading {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
