*::-webkit-scrollbar {
  width: 5px;
}

/**Light-Scroll**/

/* We put a background color and round the corners of the thumb */
*::-webkit-scrollbar-thumb,
.light-scroll::-webkit-scrollbar-thumb {
  background: #283640;
  border-radius: 4px;
}

/* We change the background and add a shadow when hover */
*::-webkit-scrollbar-thumb:hover,
.light-scroll::-webkit-scrollbar-thumb:hover {
  background: #2e374a;
  box-shadow: 0 0 2px 1px rgba(102, 100, 100, 0.2);
}

/* We change the background when it is active */
*::-webkit-scrollbar-thumb:active,
.light-scroll::-webkit-scrollbar-thumb:active {
  background-color: #2e374a;
}

/* We put a background color and round the corners of the track */
*::-webkit-scrollbar-track,
.light-scroll::-webkit-scrollbar-track {
  background: #3a3a3a00;
  border-radius: 4px;
}

/* We change the background when it is active or hover */
*::-webkit-scrollbar-track:hover,
.light-scroll::-webkit-scrollbar-track:hover {
  background: #3a3a3a00;
}

/**Dark-Scroll**/

/* We put a background color and round the corners of the thumb */
.dark-scroll::-webkit-scrollbar-thumb {
  background: #283640;
  border-radius: 4px;
}

/* We change the background and add a shadow when hover */
.dark-scroll::-webkit-scrollbar-thumb:hover {
  background: #2e374a;
  box-shadow: 0 0 2px 1px rgba(102, 100, 100, 0.2);
}

/* We change the background when it is active */
.dark-scroll::-webkit-scrollbar-thumb:active {
  background-color: #2e374a;
}

/* We put a background color and round the corners of the track */
.dark-scroll::-webkit-scrollbar-track {
  background: #3a3a3a00;
  border-radius: 4px;
}

/* We change the background when it is active or hover */
.dark-scroll::-webkit-scrollbar-track:hover {
  background: #3a3a3a00;
}

.uk-notification-message-danger {
  color: aliceblue !important;
  background-color: rgba(220, 20, 60, 0.705) !important;
}

.uk-notification-message-warning {
  color: aliceblue !important;
  background-color: rgba(255, 166, 0, 0.74) !important;
}

.uk-notification {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.uk-button {
  padding: 0 10px !important;
}

.uk-offcanvas-close {
  border: none !important;
  background: none !important;
  color: white !important;
}

body {
  padding: 0 !important;
}

input {
  background: none !important;
}

input:hover,
input:focus {
  border: 1px solid dodgerblue !important;
}

.div-input:hover,
.div-input:focus {
  border: none !important;
}

.chat-icon {
  margin: 0 5px;
  font-size: 1.5rem !important;
  border: none;
  background: none;
  padding: 0;
}

.icon {
  color: #a09f9f;
}

.icon:disabled {
  color: #e5e5e5 !important;
}

.icon-no-hover {
  cursor: inherit;
}

.icon-no-hover:hover {
  color: #a09f9f !important;
}

.icon-hover:hover {
  cursor: pointer;
  color: dodgerblue !important;
}

.online {
  color: limegreen !important;
}

.offline {
  color: #a09f9f !important;
}

.idle {
  color: rgb(161, 135, 112) !important;
}

.dont-disturb {
  color: crimson !important;
}

.state-icon {
  margin: 0 5px 2px 0;
}

.profile-img {
  background-color: dodgerblue;
  border-radius: 50%;
}

.chat-list {
  overflow: auto;
  height: calc(100vh - 80px);
}

.right-bar {
  box-shadow: 2px 1px 5px 5px lightgrey;
  overflow: auto;
  height: calc(100vh - 80px);
}

.chat-item {
  margin-left: 10px;
  padding: 10px 0;
  text-decoration: none;
}

.chat-item:hover {
  text-decoration: none;
}

.chat-description {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 10px;
}

.user-state-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.message-list {
  padding: 40px 0;
  height: calc(100vh - 152px);
  overflow: auto;
}

.navbar {
  height: 80px !important;
}

.navbar-button {
  font-size: 1.5rem !important;
  margin-bottom: 5px !important;
  border: none !important;
}

.navbar-button:hover {
  color: dodgerblue !important;
}

.return-button {
  text-decoration: none;
  margin-left: 20px !important;
}

.app-main-logo {
  height: 120px !important;
  margin-right: 20px !important;
}

.main-view {
  align-items: center;
  height: 100vh;
}

.main-card {
  padding: 50px 75px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.main-background,
.main-card,
.side-bar,
.navbar {
  transition: all 200ms ease;
}
