.emoji-panel {
  overflow: auto;
  position: fixed;
  width: 300px;
  height: 300px;
  bottom: 70px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.emoji-button {
  width: 47px;
  margin: 0 !important;
  padding: 10px;
  font-size: 20px;
  border: none;
  text-align: center;
  background: none;
  cursor: pointer;
}

.emoji-button:hover {
  background-color: black;
}

.emoji-category {
  font-size: 20px !important;
  padding: 5px !important;
}
