.emoji-panel {
  box-shadow: 5px 5px 5px 5px lightgrey;
  overflow: auto;
  position: absolute;
  width: 300px;
  height: 300px;
  margin-top: -315px;
  margin-left: 405px;
}

.emoji-button {
  margin: 0 !important;
  padding: 10px;
  font-size: 20px;
  border: none;
  text-align: center;
  background: none;
}
