.emoji-panel {
  overflow: auto;
  position: absolute;
  width: 300px;
  height: 300px;
  margin-top: -315px;
  margin-left: 405px;
}

.emoji-button {
  width: 47px;
  margin: 0 !important;
  padding: 10px;
  font-size: 20px;
  border: none;
  text-align: center;
  background: none;
  cursor: pointer;
}

.emoji-category {
  font-size: 20px !important;
  padding: 5px !important;
}
